[submodule "packages/meteor-autoform-components"]
	path = packages/meteor-autoform-components
	url = git@gitlab.com:abate/meteor-autoform-components.git
[submodule "packages/meteor-roles"]
	path = packages/meteor-roles
	url = https://github.com/piemonkey/meteor-roles.git
[submodule "packages/meteor-volunteers"]
	path = packages/meteor-volunteers
	url = git@github.com:goingnowhere/meteor-volunteers.git
[submodule "packages/meteor-autoform-datetimepicker"]
	path = packages/meteor-autoform-datetimepicker
	url = git@github.com:piemonkey/meteor-autoform-datetimepicker.git
[submodule "packages/meteor-user-profiles"]
	path = packages/meteor-user-profiles
	url = git@gitlab.com:piemonkey/meteor-user-profiles.git
[submodule "packages/meteor-mandrill"]
	path = packages/meteor-mandrill
	url = https://github.com/StorytellerCZ/meteor-mandrill.git
[submodule "packages/meteor-autoform"]
	path = packages/meteor-autoform
	url = git@github.com:abate/meteor-autoform.git
[submodule "packages/email-forms"]
	path = packages/email-forms
	url = git@github.com:piemonkey/emailForms.git
[submodule "packages/accounts-ui"]
	path = packages/accounts-ui
	url = git@github.com:piemonkey/accounts-ui.git
