[submodule "packages/meteor-autoform-components"]
	path = packages/meteor-autoform-components
	url = https://gitlab.com/piemonkey/meteor-autoform-components.git
[submodule "packages/meteor-volunteers"]
	path = packages/meteor-volunteers
	url = https://github.com/goingnowhere/meteor-volunteers.git
[submodule "packages/meteor-autoform-datetimepicker"]
	path = packages/meteor-autoform-datetimepicker
	url = https://github.com/piemonkey/meteor-autoform-datetimepicker.git
[submodule "packages/meteor-autoform"]
	path = packages/meteor-autoform
	url = https://github.com/abate/meteor-autoform.git
[submodule "packages/email-forms"]
	path = packages/email-forms
	url = https://github.com/piemonkey/emailForms.git
[submodule "packages/accounts-ui"]
	path = packages/accounts-ui
	url = https://github.com/piemonkey/accounts-ui.git
