[submodule "packages/meteor-autoform-components"]
	path = packages/meteor-autoform-components
	url = git@gitlab.com:abate/meteor-autoform-components.git
#  url = https://gitlab.com/abate/meteor-autoform-components.git
[submodule "packages/meteor-formbuilder"]
	path = packages/meteor-formbuilder
	url = git@gitlab.com:abate/meteor-formbuilder.git
#  url = https://gitlab.com/abate/meteor-formbuilder.git
[submodule "packages/meteor-roles"]
	path = packages/meteor-roles
	url = https://github.com/piemonkey/meteor-roles.git
[submodule "packages/meteor-volunteers"]
	path = packages/meteor-volunteers
	url = git@gitlab.com:abate/meteor-volunteers.git
#  url = https://gitlab.com/abate/meteor-volunteers.git
[submodule "packages/meteor-autoform-datetimepicker"]
	path = packages/meteor-autoform-datetimepicker
	url = git@github.com:abate/meteor-autoform-datetimepicker.git
#  url = https://gitlab.com/abate/meteor-autoform-datetimepicker.git
[submodule "packages/meteor-user-profiles"]
	path = packages/meteor-user-profiles
	url = git@gitlab.com:abate/meteor-user-profiles.git
#  url = https://gitlab.com/abate/meteor-user-profiles.git
[submodule "packages/meteor-mandrill"]
	path = packages/meteor-mandrill
	url = https://github.com/StorytellerCZ/meteor-mandrill.git
[submodule "packages/meteor-autoform"]
	path = packages/meteor-autoform
	url = git@github.com:abate/meteor-autoform.git
[submodule "packages/email-forms"]
	path = packages/email-forms
	url = git@github.com:abate/emailForms.git
[submodule "packages/meteor-pages"]
	path = packages/meteor-pages
	url = git@github.com:piemonkey/meteor-pages.git
