
$night: #3944e8;
$lemon:  #FFEC1E;
$dust: #FF7830;
$dustgrey: #bdaaa4;

$primary:       $night;
$secondary:     $dust;


$body-bg:       #ffff;

@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
