@font-face {
    font-family: BebusNeueBold;
    src: url("/fonts/bebasneue.ttf");
}

/* navbar */
.navbar {
    height: 60px;
    padding: 0px;
}

/* content displays below nav-bar */
.dash-padding {
  padding: 60px 20px 0px 20px;
}

/* columns have appropriate top-padding in dashboards */
.dash-col-padding .col-md-2, .dash-col-padding .col-md-5 {
  padding-top: 25px;
}
@media (min-width: 992px) {
  .zebra-line .col-md-6, .zebra-line .col-md-2 {
  width: auto!important;
  }
}
.list_item {
	height: 85px;
}
/*
.item_info {
  @include d-flex();
  @include flex-column();
  @include align-content-center();
  @include small-pad();
  @include justify-content-center();
}*/

/* zebra-line for list-items */
.zebra-line:nth-child(odd) {
    background: #F8F8F8;
}

.zebra-line:nth-child(even) {
    background: none;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

.header-avatar {
  width: 48px;
  height: :48px;
}

/* XXX this should add a scrollbar for the shiftList */
/* .shiftList {
    flex: 1 1 0;
    display: flex;
}
.shiftList .container-fluid {
    display: flex;
}
.col-6 {
    overflow-y: auto;
} */
