@font-face {
    font-family: BebusNeueBold;
    src: url("/fonts/bebasneue.ttf");
}

/* navbar */
.navbar {
    height: 60px !important;
    padding: 0px !important;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

section {
  padding-top: 71px !important;
}


.header-avatar {
  width: 48px;
  height: :48px;
}

/* XXX this should add a scrollbar for the shiftList */
/* .shiftList {
    flex: 1 1 0;
    display: flex;
}
.shiftList .container-fluid {
    display: flex;
}
.col-6 {
    overflow-y: auto;
} */
