

<!-- LEAD USER -->
<template name="leadInfo">
  <h2>Team name</h2>
  <p>Desciption (editable)</p>
  <h3 class="mb-2 text-muted">Shifts</h3>
  <h3>booked/total</h3>
  <h3 class="mb-2 text-muted">Volunteers</h3>
  <h3>Total #</h3>
  <button type="button" class="btn btn-default btn-sm" data-action="settings">
    create a shift
  </button>
  <button type="button" class="btn btn-default btn-sm" data-action="settings">
    Group shifts
  </button>
  <button type="button" class="btn btn-default btn-sm" data-action="settings">
    Duplicate shift / group
  </button>
</template>

<!-- METALEAD USER -->
<template name="metaleadInfo">
  <h2>MetaLead</h2>
  <h3 class="mb-2 text-muted">Lead positions</h3>
  <h3>booked/total</h3>
  <h3 class="mb-2 text-muted">Shift and tasks : </h3>
  <h3>booked/total</h3>
  <button type="button" class="btn btn-default btn-sm" data-action="settings">
    Create a team
  </button>
</template>

<!-- NOINFO USER -->
<template name="noinfoInfo">
    <h2>NoInfo</h2><h2 class="subtitle">where you might find what you want</h2>
    <h3 class="mb-2 text-muted">Free shifts of the day :</h3>
    <h3>XX/XX</h3>
    <h3 class="mb-2 text-muted">Free shifts for the week :</h3>
    <h3>XX/XX</h3>
    <h3 class="mb-2 text-muted">Very urgent shifts/task</h3>
    <h3>XX/XX</h3>
    <button type="button" class="btn btn-default btn-sm" data-action="settings">
      Create Shift
    </button>
    <button type="button" class="btn btn-default btn-sm" data-action="settings">
      See requests
    </button>
</template>

<!-- MAINORGA USER -->
<template name="managerInfo">
  <h2>Main organiser</h2>
    <h3 class="mb-2 text-muted">Leads</h3>
    <h3>occupied/total</h3>
    <h3 class="mb-2 text-muted">MetaLeads</h3>
    <h3>occupied/total</h3>
    <h3 class="mb-2 text-muted">Shifts and tasks</h3>
    <h3>booked/total</h3>
    <button type="button" class="btn btn-default btn-sm" data-action="settings">
      Create a team
    </button>
    <button type="button" class="btn btn-default btn-sm" data-action="settings">
      Create a department
    </button>
    <button type="button" class="btn btn-default btn-sm" data-action="settings">
      Add a Lead
    </button>
    <button type="button" class="btn btn-default btn-sm" data-action="settings">
      Add a metaLead
    </button>
</template>
