<!-- LEAD USER : allItems -->
<template name="allItems">
    title : All team shifts/tasks LIST
    mb-2 text-mutede
    filtres
    items
    separators
    <h3> Day </h3>
    {{allShifts.teams.[0]}}
    {{> volunteerShiftsForm searchQuery=searchQuery enroll="true" }}
</template>

<!-- metaAllItems -->
<template name="meatAllItems">
    title : All Urgent shifts LIST
    mb-2 text-mutede
    filtres
    items
    separators
</template>

<!-- noinfoAllDay -->
<template name="noinfoAllDay">
    <h3> Today's urgent shifts </h3>
    filters
    {{allShifts.teams.[0]}}<!-- todo - good search filters -->
    {{> volunteerShiftsForm searchQuery=searchQuery enroll="true" }}
</template>

<!-- noinfoAllWeek -->
<template name="noinfoAllWeek">
    <h3> This week's shifts </h3>
    {{allShifts.teams.[0]}}<!-- todo - good search filters -->
    {{> volunteerShiftsForm searchQuery=searchQuery enroll="true" }}
</template>

<!-- METALEAD USER allTeams -->
<template name="allTeams">
    <div class="panel panel-default">
      <h3> Departments </h3>
      mb-2 text-mutede
      filtres
      <ul>
        <!--{{#each dept in (allDepartments currentDay)}}
          <li><a href="#" data-action="deptSwitch" data-id="{{dept._id}}">{{dept.name}}</a></li>
        {{/each}}
      </ul>
      <h3> Teams </h3>      separators
      <ul>
        {{#each team in (allTeams currentDay)}}
          <li><a href="#" data-action="teamSwitch" data-id="{{team._id}}">{{team.name}}</a></li>
        {{/each}}-->
      </ul>
    </div>
</template>

<!-- notif & request -->
<template name="allRequests">
    title : Requests - notification LIST
    mb-2 text-mutede
    filtres
    items
    separators
</template>
